/* PAGE ONE */

* {
    background-color: rgb(204, 134, 145);
    /* background-color: #feb4a2; */

}

.container {
    display: grid;
    /* grid-template-columns: 1fr max-content 1fr; */
    grid-template-columns: 1fr 350px 1fr;
    /* grid-template-rows: repeat(6, 1fr); */
    grid-template-rows: minmax(min-content, auto);
    
}

.title {
    grid-row: 4;
    grid-column: 2;
    text-align: center;
    font-size: 40px;
    font-family: 'Monoton', cursive;
    color: white;
}

.title > h1 {
    color: white;
    font-size: 70px;
    font-family: 'Playfair Display SC', serif;
    line-height: 60px;
}

.material-icons {
    font-size: 34px;
}

.intro {
    grid-row: 5;
    grid-column: 2;
    text-align: center;
    font-size: 20px;
    /* font-family: 'Shrikhand', cursive; */
    font-family: 'Space Mono', monospace;
    margin-top: -30px;
}

.intro > p {
    color: white;
}

button {
        grid-row: 6;
        grid-column: 2;
        font-size: 20px;
        width: 100px;
        height: 55px;
        margin: 10px auto;
        background-color: rgb(204, 134, 145);
        border: 2px white solid;
        border-radius: 20px;
}

button:hover {
        /* background-color: white; */
        color: pink;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: pink;
}
  

/* PAGE TWO */



.surveyContainer {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 1fr max-content 1fr;

}

.surveyHeader {
    grid-column: 2;
}

.surveyHeader > h1 {
    color: white;
    font-size: 70px;
    font-family: 'Playfair Display SC', serif;
    line-height: 60px;
    
}

h3 {
    font-size: 20px;
    font-family: 'Playfair Display SC', serif;
    font-weight: 200;
    text-align: center;
    color: white;
    
}

h2 {
    font-size: 20px;
    font-family: 'Playfair Display SC', serif;
    font-weight: 200;
    text-align: center;
    color: white;
    
}

.questionContainer {
    grid-column: 2;

}

.question {
    padding: 40px 0;
}

select {
    margin: 0 auto;
    width: 160px;
    color: white;
    border: 1px white solid;
    font-size: 20px;
    text-align: center;
    display: flex;
}

input {
    font-size: 20px;
    width: 500px;
    height: 35px;
    margin: 0px auto;
    background-color: rgb(204, 134, 145);
    border: 1px white solid;
    display: flex;
    margin-top: 30px;
}

/* input[type=text] {
    width: 250px;
    border-bottom: 1px white solid;
  } */

input[type=text]:focus {
    background-color: pink;
}

input[type=submit] {
    width: 250px;
    display: block;
}
  
input[type=submit]:hover {
    background-color: pink;
}

#overlay {
position: fixed; /* Sit on top of the page content */
display: none; /* Hidden by default */
width: 500px; /* Full width (cover the whole page) */
height: 500px; /* Full height (cover the whole page) */
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgb(204, 134, 145, 0.5); /* pink background with opacity */
z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
cursor: pointer; /* Add a pointer on hover */
}

